body{margin:0;background-color:#F9A603;}

#master-container{position:absolute;top:0;left:0;width:100vw;height:100vh;}

#header-container{position:relative;top:20px;left:0;width:100%;height:20vh;text-align:center;}
#header-container img{width:auto;height:100%;}

#login-container{position:relative;top:10%;left:50vw;width:400px;margin:0 0 0 -200px;text-align:center;}
#login-container .text-input{width:100%;height:40px;background:none;border:none;border-bottom:1px solid #111111;text-align:center;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#9d9d9d;font-size:18px;}
#login-container .login-button{width:100%;height:40px;background-color:#FFF;border:none;border-bottom:1px solid #111111;text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#F9A603;font-size:18px;cursor:pointer;}

#email {text-transform: uppercase;}

.not-a-partner-text{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:14px;}
.forgotten-password-text{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:12px;}

a:link{color:#FFF;}
a:visited{color:#FFF;}
a:hover{color:#FFF;}

.error-text{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#8D161E;font-size:18px;}

.thank-you-header{width:100%;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;
color:#FFF;font-size:30px;text-align:center;margin:50px 0 0 0;}

#newVenue{display:none;position:absolute;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0, 0, 0, 0.8);z-index:99999;}
.welcome-screen{position:relative;top:10%;left:50%;width:90%;margin:0 0 0 -45%;background-color:#FFF;border-radius:3px;
text-align:center;padding:30px 10px 30px 10px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#fff;font-size:18px;
background-image:url(http://img.almanacmedia.co.uk/pop-bg-min.jpg); background-size:cover;}
.welcome-screen h1{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#fff;font-size:29px;}
.welcome-screen .close-new{width:100%;height:40px;background-color:#F9A603;border:none;text-align:center;line-height:40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:18px;cursor:pointer;}
.welcome-screen .resend-validation{width:100%;height:40px;background-color:#F9A603;border:none;text-align:center;line-height:40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:18px;cursor:pointer;}
	
#validated{display:none;position:absolute;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0, 0, 0, 0.8);z-index:99999;}
.validate-screen{position:relative;top:10%;left:50%;width:90%;margin:0 0 0 -45%;background-color:#FFF;border-radius:3px;
text-align:center;padding:30px 10px 30px 10px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#fff;font-size:18px;
background-image:url(http://img.almanacmedia.co.uk/pop-bg-min.jpg); background-size:cover;}
.validate-screen h1{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#fff;font-size:29px;}
.validate-screen .close-validated{width:100%;height:40px;background-color:#F9A603;border:none;text-align:center;line-height:40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:18px;cursor:pointer;}
	
#val-expired{display:none;position:absolute;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0, 0, 0, 0.8);z-index:99999;}
.expired-screen{position:relative;top:10%;left:50%;width:90%;margin:0 0 0 -45%;background-color:#FFF;border-radius:3px;
text-align:center;padding:30px 10px 30px 10px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#fff;font-size:18px;
background-image:url(http://img.almanacmedia.co.uk/pop-bg-min.jpg); background-size:cover;}
.expired-screen h1{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#fff;font-size:29px;}
.expired-screen .resend-val{width:100%;height:40px;background-color:#F9A603;border:none;text-align:center;line-height:40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:18px;cursor:pointer;}
.expired-screen .close-val{width:100%;height:40px;background-color:#F9A603;border:none;text-align:center;line-height:40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#FFF;font-size:18px;cursor:pointer;}
	
#install{display:none;position:absolute;top:0;left:0;width:calc(100vw - 10px);height:calc(100vh - 10px);background-color:#FFF;z-index:999999;padding:10px 0 0px 10px;
text-align:center;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;color:#F9A603;font-size:18px;
background-position:center;background-size:cover;background-repeat:no-repeat;}
	
.close-install {float:left;background: #f9a703;background-image: -webkit-linear-gradient(top, #f9a703, #c27f04);background-image: -moz-linear-gradient(top, #f9a703, #c27f04);
background-image: -ms-linear-gradient(top, #f9a703, #c27f04);background-image: -o-linear-gradient(top, #f9a703, #c27f04);background-image: linear-gradient(to bottom, #f9a703, #c27f04);
-webkit-border-radius: 60;-moz-border-radius: 60;border-radius: 60px;font-family: Arial;color: #ffffff;font-size: 20px;padding: 5px 10px 5px 10px;
text-decoration: none;display:inline-block;cursor:pointer;}

.close-install:hover {background: #ffffff;background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
text-decoration: none;}

#cookie-popup{display:none;position:absolute;z-index:99999;bottom:10px;right:10px;width:90%;height:40px;background-color:#fff;line-height:40px;padding-left:10px;
color:#f9a603;}
#cookie-popup a:link{color:#f9a603;font-weight:bold;}
#cookie-popup a:visited{color:#f9a603;font-weight:bold;}
#cookie-popup a:hover{color:#f9a603;}
.dismiss-cookie{float: right;width: 100px;height: 30px;margin-top: 5px;margin-right: 5px;text-align: center;font-weight: bold;
line-height: 30px;background-color: #f9a603;color: #fff;cursor:pointer;}

@media (max-width:800px){
	#login-container{position:relative;top:10%;left:10vw;width:90vw;margin:0 0 0 -5vw;text-align:center;}
	.welcome-screen{width:90%;left:2%;margin-left:0;}
    #cookie-popup{display:none;position:absolute;z-index:99999;bottom:10px;right:10px;width:90%;height:90px;background-color:#fff;line-height:40px;padding-left:10px;
        color:#f9a603; font-size:10px;}
}