body{margin:0;background-color:#F9A603;}

/*MASTER CONTAINER*/
#master-container{position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:#dddddd;);
background-repeat:no-repeat;background-position:center center;background-size:contain;}

/*SIDE BAR*/
#links-container{position:relative;top:0;left:0;width:200px;height:100vh;z-index:99999;background-color:#F9A603;overflow:hidden;}
#links-container .main-link{position:relative;padding:5px 5px 10px 15px;color:#fff;font-size: 12px;font-family: 'Amiko', sans-serif;cursor:pointer;}
#links-container .main-link:hover{background-color:#f5c374;}

.section{position:relative;top:0;left:0;width:100%;padding: 5px 0 5px 0;border-top:1px solid #e28800;}
.section-title{position:relative;padding:5px 5px 10px 15px;color:#f5c374;font-size: 12px;font-family: 'Amiko', sans-serif;}

#venue{position:relative;top:10px;left:0;width:100%;height:240px;text-align:center;padding:20px 0 0 0;}
#venue #venue-image{position:relative;top:0;left:25px;width:150px;height:150px;background-color:#FFF;border-radius:75px;background-size:cover;}
#venue #venue-name{color: #fff;font-size: 12px;font-family: 'Amiko', sans-serif;position: relative;top: 15px;}
#venue #venue-status{color: #fff;font-size: 12px;font-family: 'Amiko', sans-serif;position: relative;top: 30px;}

/*ACTION CONTAINER*/
#action-container{display:none;position:absolute;top:0;left:200px;width:calc(100% - 200px);height:100vh;background-color:#ddd;overflow-x:hidden;overflow-y:scroll;}
	
#modal-cover{display:none;position:absolute;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0,0,0,0.8);z-index:99999;
overflow-y:auto;overflow-x:hidden;}
.modal-message{position:relative;top:50%;left:50vw;width:600px;padding:2vw;background-color:#FFF;
    font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;font-weight:bold;text-align:center;
margin:-150px 0 0 -300px;}
.close-modal, .close-modal-active, .close-modal-centered, .close-modal-done{width:100%;height:40px;border:none;text-align:center;line-height:40px;
    font-family: 'Amiko', sans-serif;font-weight:bold;color:#aaa;font-size:12px;cursor:pointer;border-bottom:1px solid #aaa;}

.loading{position:relative;top:50%;left:50%;width:100px;height:100px;text-align:center;margin:-50px 0 0 -50px;
    font-family:'Amiko', sans-serif;font-size:25px;color:#ffffff;font-weight:bold;;}

.fa-spinner{-webkit-animation: rotation 2s infinite linear;}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

/* VIEWS */
.view-title{width:100%;height:30px;font-family:'Amiko', sans-serif;font-size:15px;color:#aaa;font-weight:bold;padding:0 0 0 20px;line-height:50px;}

.part-title{width:100%;height:30px;font-family:'Amiko', sans-serif;font-size:15px;color:#aaa;font-weight:bold;
text-align:left;line-height:30px;}

.selected{color:#aaa !important;}
.spacer{position:relative;top:20px;left:5%;width:90%;height:200px;border-radius:5px;margin:20px 0 0 0;}

.text-one{width:100%;height:20px;border:none;border-bottom:1px solid #aaa;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;}
.text-one-center{width:100%;height:20px;border:none;border-bottom:1px solid #aaa;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;
font-weight:bold;text-align:center;}
.text-two{width:100%;height:50px;border:none;border-bottom:1px solid #aaa;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;
font-weight:bold;}
.text-two-center{width:100%;height:50px;border:none;border-bottom:1px solid #aaa;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;
font-weight:bold;text-align:center;}

.ui-timepicker-wrapper{width:50% !important;text-align:center;}
.ui-timepicker-input {width:100%;height:50px;border:none;border-bottom:1px solid #aaa;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;
font-weight:bold;text-align:left;}
.ui-timepicker-am:nth-child(even){font-family:'Amiko', sans-serif;
    font-size:12px;color:#f9a603;font-weight:bold;height:30px;line-height:30px;background-color:#fff;}
.ui-timepicker-am:nth-child(odd){font-family:'Amiko', sans-serif;
    font-size:12px;color:#f9a603;font-weight:bold;height:30px;line-height:30px;background-color:#eee;}
.ui-timepicker-pm:nth-child(even){font-family:'Amiko', sans-serif;
    font-size:12px;color:#f9a603;font-weight:bold;height:30px;line-height:30px;background-color:#fff;}
.ui-timepicker-pm:nth-child(odd){font-family:'Amiko', sans-serif;
    font-size:12px;color:#f9a603;font-weight:bold;height:30px;line-height:30px;background-color:#eee;}

.hasDatepicker{width:100%;height:50px;border:none;border-bottom:1px solid #aaa;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;
font-weight:bold;text-align:left;}

.control {font-family: 'Amiko', sans-serif;display: block;position: relative;padding-left: 30px;margin-bottom: 5px;padding-top: 6px;cursor: pointer;
font-size: 12px;}
    .control input {position: absolute;z-index: -1;opacity: 0;}
.control_indicator {position: absolute;top: 2px;left: 0;height: 20px;width: 20px;background: #FFF;border: 1px solid #F9A603;}
.control-radio .control_indicator {border-radius: 0;}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {background: #F9A603;}

.control input:checked ~ .control_indicator {background: #F9A603;}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {background: #F9A603;}
.control input:disabled ~ .control_indicator {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
.control_indicator:after {box-sizing: unset;content: '';position: absolute;display: none;}
.control input:checked ~ .control_indicator:after {display: block;}
.control-checkbox .control_indicator:after {left: 8px;top: 4px;width: 3px;height: 8px;border: solid #ffffff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
.control-checkbox input:disabled ~ .control_indicator:after {border-color: #7b7b7b;}

.resend-email{width:100%;height:40px;background-color:#F9A603;border:none;text-align:center;line-height:40px;
    font-family:'Amiko', sans-serif;font-weight:bold;color:#FFF;font-size:18px;cursor:pointer;}

.ribbon {
   width: 250px;
   position: relative;
   top:0;
   left:50%;
   margin:100px 0 0 -125px;
   cursor:pointer;
   text-align: center;
   font-size: 13px!important;
   background: #bf7c00;
   background: -webkit-gradient(linear, left top, left bottom, from(#bf7c00), to(#f9a703));
   background: -webkit-linear-gradient(top, #bf7c00, #f9a703);
   background: -moz-linear-gradient(top, #bf7c00, #f9a703);
   background: -ms-linear-gradient(top, #bf7c00, #f9a703);
   background: -o-linear-gradient(top, #bf7c00, #f9a703);
   background-image: -ms-linear-gradient(top, #bf7c00 0%, #f9a703 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 25px!important;
   color: #ffffff;
   text-shadow: #ab9898 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #d18e13;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #6b4600 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }
	
@media (max-width: 800px){
	#action-container{display:none;position:absolute;top:0;left:0;width:100vw;height:100vh;background-color:#FFFFFF;overflow-x:scroll;
	margin:0;}
	
	.modal-message{left:2.5%;width:90%;margin-left:0;}

	#venue-message{position:absolute;bottom:0;left:0;width:100vw;font-family:'Amiko', sans-serif;
		font-size:35px;color:#FFF;font-weight:bold;text-align:center;padding:20px 0 20px 0;text-shadow: 2px 2px #000000;overflow:hidden;
	background-size:cover;background-position:center center;}
	
	#links-container .main-link{float:left;display:inline-block;width:200px;font-family:'Amiko', sans-serif;
        font-size:12px;color:#F9A603;cursor:pointer;padding:10px;background-color: #FFFFFF;z-index:99999;
        margin:15px 0 0 10px;}

}

@media (orientation:landscape) and (max-width:600px){
    #links-container{position:relative;top:0;left:0;width:100vw;z-index:99999;}
    #links-container .main-link{float:left;display:inline-block;width:200px;font-family:'Amiko', sans-serif;
        font-size:12px;color:#F9A603;cursor:pointer;padding:10px;background-color: #FFFFFF;z-index:99999;
        margin:15px 0 0 10px;}
}


