#venue-view-header{position:relative;top:0;left:0;width:100%;height:250px;background-color:#fff;border-bottom:1px solid #d6d6d6;}
#venue-view-top-bar{position:relative;top:0;left:0;width:100%;height:50px;border-bottom:1px solid #d6d6d6;}
#venue-view-image{float:left;margin:30px 0 0 60px;width:380px;height:180px;background-size:cover;border:2px solid #F9A603;}

.upload-button {position:relative;top:140px;left:340px;overflow:hidden;width:40px;height:40px;text-align:center;cursor:pointer;}
.upload-button-btn {border:none;color:#FFF;background-color:#F9A603;border-radius:0;
    font-family:'Amiko', sans-serif;font-size:18px;font-weight:bold;width:40px;height:40px;text-align:center;cursor:pointer;}
.upload-button-btn:hover {background-color:#FFF;color:#F9A603;}
.upload-button input[type=file] {font-size: 100px;position: absolute;left: 0;top: 0;opacity: 0;cursor:pointer;}

#venue-view-account-details{float:left;margin:30px 0 0 10px;width:380px;height:180px;}
.venue-view-tier{position:relative;top:0;left:0;width:100%;height:50px;font-family:'Amiko', sans-serif;font-size:28px;color:#aaa;}
.venue-view-verified{position:relative;top:0;left:0;width:100%;height:50px;font-family:'Amiko', sans-serif;font-size:12px;}
.venue-view-vouchers{position:relative;top:0;left:0;width:100%;height:50px;font-family:'Amiko', sans-serif;font-size:18px;color:#aaa;}

#venue-details{position:relative;top:0;left:0;width:100%;height:100%;}

.venue-details-container{position:relative;top:30px;left:60px;width:500px;background-color:#fff;border:1px solid #DDD;border-radius:3px;}
#venue-view-edit-header{width:calc(100% - 20px);height:50px;background-color:#F9A603;color:#fff;border-top-left-radius:3px;border-top-right-radius:3px;line-height:50px;padding:0 0 0 20px;font-family:'Amiko', sans-serif;font-size:18px;}

#venue-view-details-table{width:90%;margin:20px 0 0 5%;}
.venue-view-table-label{width:145px;height:40px;padding:0 10px 0 0;font-family:'Amiko', sans-serif;font-size:12px;color:#aaa;font-weight:bold;}
.venue-view-table-title{width:145px;height:60px;padding:0 10px 0 0;font-family:'Amiko', sans-serif;font-size:12px;color:#000;font-weight:bold;}

.venue-details-submit-button{display:inline-block;width:100%;text-align:center;
font-family:'Amiko', sans-serif;font-size:18px;color:#F9A603;font-weight:bold;height:100%;line-height:40px;
cursor:pointer;background-color:#FFF;border-bottom:1px solid #F9A603;border-left:1px solid #F9A603;
border-right:1px solid #F9A603;}

.venue-details-status-button{display:inline-block;width:100%;text-align:center;
font-family:'Amiko', sans-serif;font-size:18px;color:#F9A603;font-weight:bold;height:100%;line-height:40px;
cursor:pointer;background-color:#FFF;border-bottom:1px solid #F9A603;border-left:1px solid #F9A603;
border-right:1px solid #F9A603;}

.venue-details-validate-button{display:inline-block;width:100%;text-align:center;
    font-family:'Amiko', sans-serif;font-size:18px;color:#F9A603;font-weight:bold;height:100%;line-height:40px;
    cursor:pointer;background-color:#FFF;border-bottom:1px solid #F9A603;border-left:1px solid #F9A603;
    border-right:1px solid #F9A603;}