#invoice-container{position:relative;top:20px;left:0;width:100%;}

.invoice-dealchasr-logo{float:left;width:25%;height:20vh;background-image:url(http://img.almanacmedia.co.uk/dealchasrlogo.png);
background-size:contain;background-position:center center;background-repeat:no-repeat;}

.invoice-customer-details{float:right;width:50%;text-align:right;padding:0 50px 0 0;}

.tier-container{position:relative;width:100%;height:200px;font-family:'Josefin Sans', sans-serif;font-size:500%;color:#F9A603;
font-weight:bold;opacity:0.2;text-align:left;}

.black-label{font-family:'Josefin Sans', sans-serif;font-size:14px;color:#000;font-weight:bold;}
.large-header{font-family:'Josefin Sans', sans-serif;font-size:34px;color:#F9A603;font-weight:bold;}
.small-header{font-family:'Josefin Sans', sans-serif;font-size:14px;color:#F9A603;font-weight:bold;}